.tokenomicsbreakdown{
    text-align: center;
    margin-bottom: 2rem;
}

.tokenomicsbreakdown>p{
    padding:0rem 1rem;
}

.tokenomics img{
    width:100%;
}

.tokenomics{
    text-align: center;
    padding: 3rem 3rem;
}

.tokenomics h3{
    padding-top: 3rem;
    margin-bottom: 3rem;
    color: #242f3d;
}

.breakdown{
    padding-bottom: 2rem;
}

.breakdown p{
    font-size:18px;
    margin-bottom: 1rem;
}

.breakdown span{
    display: inline-block;
    width:15px;
    height:15px;
    border-radius:50%;
}

.span1{
    background: #1E293B;
}

.span2{
    background: #757D93;
}

.span3{
    background: #023EBA;
}

.span4{
    background: #1E293B;
}

.span5{
    background: #000000;
}

.span6{
    background: #CBD5E1;
}

.tokenInformation{
    margin:6rem 0rem;
    padding:2rem 3rem;
}

.titleDetails{
    text-align: left;
    width:47.5%; /*set to 50% for mobile*/
}

.titleDetails>div{
    background-color: #ffffff;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding:1rem 2rem;
}

.tokenInformation>.firstDiv{
    margin-right: 5%;
}

.title{
    font-size:18px;
    color: #64748B;
}

.details{
    font-size: 24px;
    color:#0096C7;

}

.allocation{
    margin:0rem 3rem;
    padding:2rem 1rem;
}

.allocation h3{
    font-size: 24px;
    color:#023E8A;
}

.allocation>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allocationItem{
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding:0rem 1rem;
}

.allocationItem p{
    width:35%;
    text-align:right;
    font-size:18px;
    color:#64748B;
}

.allocation h4{
    font-size:22px;
    color:#0F172A;
}

.firstDiv>p{
    padding:0 24rem;
}

@media(max-width:765px){
    .firstDiv>p{
        padding:0 1.3rem;
    }

    .tokenomics{
        text-align: center;
        padding: 0rem 1rem;
    }

    .tokenomics img{
        width:80%;
    }    


    .titleDetails{
        text-align: left;
        width:100%; 
        margin-bottom: 1.3rem;
        padding:0 0.8rem;
    }

    .tokenInformation{
        margin:0rem;
        padding:0rem;
    }

    .titleDetails>div{
        padding:0.5rem 1rem;
    }

    .tokenInformation{
        padding:2rem 1rem;
    }

    .title{
        font-size:16px;
        margin-bottom:0.6rem;
    }
    
    .details{
        font-size: 22px;
    }

    .allocation{
        margin:0rem 1rem;
        padding:2rem 1rem;
    }

    .allocation>div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap:wrap;
    }

    .allocationItem p{
        width:100%;
        font-size:18px;
        color:#64748B;
        text-align: left;
    }
    
}