.usabilityInsights{
    text-align: center;
    padding:0rem 24rem;
}

.explainUsability p{
    font-size:18px !important;
}

.explainUsability img{
    width:50px;
}

.card{
    background-color: #F1F5F9;
    border-radius: 8px;
    padding: 1.2rem;
}

.card img{
    background: #C5F1FF;
    padding: 0.5rem;
}


  

@media(max-width:765px){
    .usabilityInsights{
        padding:0rem 1rem;
    }

    .explainUsability{
        width:100%;
        padding:0 1rem;
    }

    .card{
        width:100%;
    }

    
}
