.wallet{
    margin:2.5rem;
    
    .balance-history{
        display:flex;
        .balance, .history{
            width:49%;
            background: #F1F5F9;
            box-shadow: 0px 4px 6px -2px #F1F5F9;
            border-radius: 8px;
        }

        .balance{
            margin-right: 2%;

            .wallet-balance{
                padding: 1rem;   
            }

            .amount{
                background: #023E8A;
                border-radius: 0px 0px 8px 8px;
                color:#fff;
                padding:0.7rem;

                span{
                    color:#4ADE80;
                }
            }
        }

        .history{
            padding: 1.7rem;
            cursor:pointer;
        }
    }
}

.actions{
    display:flex;
    gap:15px;
    margin:2.5rem 0rem;

    div{
        width:33%;
        padding:3rem 1rem;
        box-shadow: 0px 4px 6px -2px #F1F5F9;
        border-radius: 12px;
        cursor:pointer;

        i{
            font-size:2rem;
            color:#023E8A;
        }
    }

    .deposit{
        background: #D8F5FF;
        background-image: url('/dashboard/bckgrnd5.png');
        background-repeat: no-repeat;
        background-size: 34%;
        background-position: right top;
    }

    .withdrawal{
        background: #E8F2FF;
        background-image: url('/dashboard/bckgrnd4.png');
        background-repeat: no-repeat;
        background-size: 34%;
        background-position: right top;
    }

    .transfer{
        background: #F1F5F9;
        background-image: url('/dashboard/bckgrnd3.png');
        background-repeat: no-repeat;
        background-size: 34%;
        background-position: right top;
    }
}

.portfolio{
    margin:2.5rem 0rem;

    .search{
        width:40%;
        border: 1px solid #CBD5E1;
        border-radius: 4px;
        padding: 8px 12px;
    }

    table{
        width:100%;
        margin-top: 2rem;
        
        thead{
            

            tr{
                display:inline-block;
                width:100%;
                
                th{
                    background: #F1F5F9;
                    display: inline-block;
                    width:16%;
                    padding:1rem;
                    font-size:16px;
                    font-weight: 500;
                    color:#334155;
                    margin-right: 2px;
                }

                th:nth-child(4){
                    width:51%;
                }
            }
        }

        tbody{
            
            tr{
                background: #F8FAFC;
                display: inline-block;
                margin-top: 7px;   
                width:100%;
                td{
                    padding:1rem;
                    display: inline-block;
                    width:16%;

                    img{
                        width:23px;
                        margin-right: 10px;
                    }

                    .deposit{
                        background: #D8F5FF;
                        border-radius: 4px;
                        padding:6px 10px;
                        cursor:pointer
                    }

                    .withdraw{
                        background: #E8F2FF;
                        border-radius: 8px;
                        padding:6px 10px;
                        cursor:pointer
                    }

                    .transfer{
                        background: #F1F5F9;
                        border-radius: 8px;
                        padding:6px 10px;
                        cursor:pointer
                    }
                }
            }
        }
    }
}

.finalStep{
    padding: 2rem;
    .order-approved{
        text-align:center;

        .image{

            img{
                width:200px;
            }
        }
    }
}

.wallet-history{
    margin:0rem 2.5rem;

    .sub-header{
        border-bottom:1px solid #E2E8F0;
    }
}

.header{
    border-bottom:1px solid #E2E8F0;
    padding-bottom: 1.5rem;

    .step-indicator{
        border: 1px solid #00ADE6;
        border-radius: 4px;
        padding:8px;

        span{
            color:#00ADE6;
        }
    }
}

.recieve{
    padding: 19px 14px;
    text-align: center;
    background: #ECFAFF;
    border: 1px solid #C5F1FF;
    border-radius: 8px;
    width:100%;
}