.whatIsTransfi{
    padding-top: 9rem;   
}

.whatIsTransfi .image{
    width:100%;
}

.transfidefinition{
    padding: 0px 4rem;
}

.transfidefinition p{
    padding-right: 8rem;
}

.buttons{
   padding-right: 4rem; 
}

@media(max-width:765px){
    .transfidefinition{
        padding:0px 2rem;
        padding-bottom:2rem;
    }

    .transfidefinition p{
        padding-right: 0rem;
    }
    
    .buttons{
       padding-right: 0rem; 
    }
}