.settings{
    margin:2.5rem;

    .bizInfo{

        .kycStatus{
            
            .tier{
                background: #22C55E;
                border-radius: 4px;
                padding: 10px 19px;
            }

            .complete-kyc{
                background: #E2E8F0;
                border-radius: 4px;
                padding: 4px 19px;
            }
        }


        .image-upload{
            border-radius: 4.15909px;
            width:60%;
    
            .image-upload-border{
                border: 1.1295px dashed #CBD5E1;
                border-radius: 3.79922px;
                text-align: center;
                height:100%;
                

                .image{
                    position: relative;
                    img{
                        width: 100%;
                    }

                    i{
                        position: absolute;
                        right: 25px;
                        top:5px;
                        color:#fff;
                        background: rgba(0, 0, 0, 0.32);
                        width:30px;
                        height: 30px;
                        border-radius: 50%;
                        cursor: pointer;
                        padding: 3px;
                    }
                }
    
                i{
                    font-size: 100px;
                    font-weight: 700;
                    color:#64748B;
                }
            }
        }
    
        .user-role{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #E2E8F0;
            border-radius: 4px;
    
            i{
                font-size: 120px;
                font-weight: 700;
                color:#CBD5E1;
            }
        }

    }

    

    .tips{
        text-align:center;
        border: 1.5px solid #D8F5FF;
        border-radius: 8px;
        padding: 16px;

        .forbidline{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: #EAB308;
            color:#fff;
        }
        
    }

    .input{
        border: 1px solid #CBD5E1;
        border-radius: 4px;
        padding: 8px 12px 8px 10px;
        margin-bottom: 1.3rem;
    }

    .security-index{
        background-color: #F1F5F9;
        padding:2rem; 
        border-radius: 12px; 
        margin-top:1rem;

        .toggleButton{
            width:44px;
            height:24px;
            position:relative;
            border-radius: 12px;
            padding:2px;

            span{
                position: absolute;
               width:20px;
               height:20px;
               background: #FFFFFF;
               border-radius:50%; 
            }
        }

        .icons{
            border:1px solid #023E8A;
            width:40px;
            height:40px;
            border-radius: 50%;


        }
    }
    

    .form-wrapper{
        margin-top:2rem;
        

        .form{
            
           
            .form-group{
                
            }

            .file-upload{
                position:relative;
                border: 1px solid #CBD5E1;
                border-radius: 4px;
                padding: 8px 12px 8px 10px;
                margin-bottom: 1.3rem;
                display:flex;
                justify-content: space-between;
                align-items: center;
                
            }

            .file-upload .file-input{
                width:50%;
                border: 1px solid #CBD5E1;
                border-radius: 4px;
                padding: 8px 12px 8px 10px;
                background: #0F172A;
                border-radius: 5px;
                color:#fff;
            }
    
            .file-upload input{   
                margin: 0px;
                border: none;
                cursor:pointer;
            }
    
            .file-upload .placeholder{
                position: absolute;
                left:8px;
                cursor:pointer;
            }
    
            .file-upload input::-webkit-file-upload-button{
                display: none;
            }

            .check{
                background:#22C55E;
                height: 20px;
                width:20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color:#fff;
            }

            .close{
                cursor:pointer;
            }
        }

    }
}



.settings-header{
    display:flex;
    border-bottom: 1px solid #CBD5E1;;

    .header-item{
        width:25%;
        padding:16px;
        cursor:pointer;
        text-align: center;

        h1{
            font-size:16px;
            font-weight:600;
            color: #64748B;
            line-height: 24px;
        }
    }

    .active{
        background: #F1F5F9;
        border-bottom: 2px solid #00ADE6;
        border-radius: 4px 4px 0px 0px;

        h1{
            font-size:16px;
            font-weight:600;
            color:#023E8A;
            line-height: 24px;
        }
    }
}
