.dashboard-auth{
    font-family:'Inter', sans-serif;
    .auth-slider{
        background-color: #E2E8F0;
    }
    h1{
        font-weight:600;
        font-size:24px;
        color:#023E8A;
        line-height: 1.5;
        padding:0 5rem;
        margin-top: 1.8rem;;
      }
      p{
        color:#64748B;
        font-size:16px;
        font-weight:400;
        line-height: 1.5;
        padding:0 5rem;
        margin-top: 0.8rem;
      }
    .row{
        height:100vh
    }

    .carousel{
        padding: 50px;
    }

    .carousel li{
        width:20px;
        height:20px;
        border-radius: 50%;
    }

    .carousel li.active{
        background-color: #94A3B8;
    }


    .carousel .first-item .imageRow img{
        width:50px;
        margin-right: 0.7rem;
    }

    .imageRow{
        margin-top: 0.8rem;
    }

    .carousel-item{
        height: 100vh;
    }

    .first-item, .second-item{
        text-align: center;
    }

    .signup, .login, .kyc{
        padding: 70px;
        text-align: center;
        color:#94A3B8;
        transition: all 5s ease;
        transition-delay: 1s;

        .border{
            border:1px solid red;
        }

        form{
            margin-top:2rem;
            font-size:16px;
        }

        .form ::-webkit-input-placeholder{
            font-size:16px;
        }

        .form-group{
            text-align:left
        }

        label, input{
            display:block;
            width:80%;
            margin: 0 auto; 
            margin-bottom: 4px;
        }

        input{
           border:1px solid  #94A3B8;
           border-radius: 6px;
           padding: 8px;
        }

        .password, .file-upload{
            display:flex;
            align-items: center;
            width:80%;
            margin: 0 auto;
            border:1px solid  #94A3B8;
            border-radius: 6px;
            padding-right: 8px;

            span{
                cursor:pointer;
            }
        }

        .password input{
            width:100%;
            margin: 0px;
            border: none;
            
        }

        .file-upload{
            position:relative;
        }

        .file-upload input{
            width:100%;
            margin: 0px;
            border: none;
        }

        .file-upload .placeholder{
            position: absolute;
            left:8px;
        }

        .file-upload input::-webkit-file-upload-button{
            display: none;
        }


        .radio-input{
            display: flex;
            align-items: center;
            width:80%;
            margin: 0 auto;
            position: relative;
        }

        .radio-input span{
            display: inline-block;
            margin-left: 25px;
        }

        input[type="radio"]{
                position: absolute;
                margin-bottom:0px;
                width:15px;
                height: 15px;
                
        }

        input:focus{
            outline:none;
        }

        button{
            margin-top: 4rem;
            background-color: #023E8A;
            border: none;
            padding: 12px 16px;
            border: 1px solid #0F172A;
            border-radius: 4px;
            color:#fff;
            width:80%;
            cursor:pointer;
        }

        button + p{
            font-size:16px;
            span{
                color: #00ADE6;
                cursor:pointer;
            }
        }
    }

    .verification-link{
        text-align: center;

        .image{
            width:18%;
            margin:0 auto;
            margin-top:4rem;
        }

        img{
            width:100%;
        }
    }
}




.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal-overlay {
    position: fixed;
    top: 8vh;
    left: 25%;
    width:50%;
    right: 25%;
    height: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    max-height:80vh;
    overflow-y: scroll;

    .finalStep{
        padding: 2rem;
        .order-approved{
            text-align:center;
            .image{
                img{
                    width:200px;
                }
            }
        }
    }

    .close-icon{
        position: relative;
        left:95%;
        cursor: pointer;
    }

    .close-button-wrapper{
        display:flex;
        justify-content: flex-end;
    }

    .close-button{
        outline:none;
        border:none;
        padding: 12px 16px;
        background: #023E8A;
        border-radius: 4px;
        color:white;
        margin-top: 5rem;
        cursor: pointer;
    }

    

    .link-sent{
        font-size: 20px;
        font-weight: 700;
        color: #0F172A;
    }

    .check-inbox{
        color: #0F172A;
        font-weight: 400;
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }