html,
body {
  padding: 0;
  margin: 0;
  font-family:'Inter', sans-serif, "DM Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden !important; 
}
h1, h2, h3, h4, p{
  padding:0;
  margin:0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width:1em;
  left:2rem;
}

::-webkit-scrollbar-track{
  background: #F3F4F6;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb{
  background: #0F172A;
  border-radius: 100px;
}



.btn-default{
  padding:12px 16px;
  background: #023E8A;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor:pointer
}

.btn-default:focus{
  outline:none;
}

.btn-default:disabled{
  opacity: 0.8;
}

.btn-transparent{
  padding:12px 16px;
  background: transparent;
  border-radius: 4px;
  color: #00ADE6;
  border: none;
  cursor:pointer
}

.btn-transparent:focus{
  outline:none;
}

.btn-transparent1{
  padding:12px 16px;
  background: transparent;
  border: 1px solid #023E8A;
  border-radius: 4px;
  color: #023E8A;
  cursor:pointer
}

.btn-transparent1:focus{
  outline:none;
}

.btn-delete{
  padding:12px 16px;
  background: transparent;
  border-radius: 4px;
  color: #DC2626;
  border: none;
  cursor:pointer
}

.btn-delete:focus{
  outline:none;
}

.btn-delete-1{
  padding:12px 16px;
  background: transparent;
  border-radius: 4px;
  color: #DC2626;
  border: 1px solid #DC2626;
  cursor:pointer
}

.btn-delete-1:focus{
  outline:none;
}

.btn-update{
  padding:12px 16px;
  background:  #E2E8F0;;
  border-radius: 4px;
  color: #64748B;
  border: none;
  cursor:pointer
}

.btn-update:focus{
  outline:none;
}

.fs-14{
  font-size:14px;
  line-height:21px;
}

.fs-16{
  font-size:16px;
  line-height:24px;
}

.fs-18{
  font-size:18px;
  line-height:27px;
}

.fs-20{
  font-size:20px;
  line-height:30px;
}

.fs-22{
  font-size:22px;
  line-height:33px;
}

.fs-24{
  font-size:24px;
  line-height:36px;
}

.fs-28{
  font-size:28px;
  line-height:39px;
}

.fs-36{
  font-size:36px;
  line-height:54px;
}

.fw-400{
  font-weight:400
}

.fw-600{
  font-weight:600
}

.fw-700{
  font-weight:700
}

.fw-500{
  font-weight:500
}

.centralize{
  display:flex;
  justify-content:center;
  align-items:center;
}

.centralize-10{
  display:flex;
  justify-content:center;
  align-items:flex-end;
  gap:10px;
}

.centralize-top-10{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  gap:10px
}

.centralize-start-start-10{
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  gap:10px
}

.centralize-top-15{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  gap:15px
}

.space-between{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.space-between-10{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:10px;
}

.space-evenly{
 display:flex;
 justify-content: space-evenly;
 align-items: center;
}

.space-between-top{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

.justify-right{
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.primary-color{
  color:#023E8A;
}

.secondary-color{
  color:#64748B;
}

.tetiary-color{
  color:#0F172A;
}

.bckg1{
  background-color:#023E8A;
}

.bckg2{
  background-color:#F1F5F9;
}

.bckg3{
  background-color:#00ADE6;
}

.bckg4{
  background-color:#F8FAFC;
}

.bckg5{
  background: linear-gradient(138.9deg, #00ADE6 -31.79%, #023E8A 84.99%);
}

.bckg6{
  background-color: #00ADE6;
}

.bckg7{
  background-color:#F8FAFC;
}

.bckg8{
  background: #BBF7D0;
}

.bckg9{
  background-color: #E2E8F0;
}

.bckg10{
  background-color: #16A34A;;
}

.bckg11{
  background-color:#881337;
}

.bckg-white{
  background-color:#FFF;
}



.text-color-1{
    color:#0096C7;
}

.text-color-2{
  color:#00ADE6;
}

.text-color-3{
  color:#334155;
  
}

.text-color-4{
  color:#15C6FF;
}

.text-color-5{
  color:#0F172A;
}

.text-color-6{
  color:#1A7DFB;
}

.text-color-7{
  color:#F1F5F9;
}

.text-color-8{
  color:#F8FAFC
}

.text-color-9{
  color:#E2E8F0;
}

.text-color-10{
  color:#CBD5E1;
}

.text-color-11{
  color:#EAB308;
}

.text-color-12{
  color: #16A34A;
}

.text-is-white{
  color:#fff;
}

.success-color{
  color:#10B981;
}

.vAlign{
  text-align:center
}

input{
  border:none;
  background: transparent;
}

input:focus{
  border:none;
  outline:none
}

.m-25{
  margin:2.5rem;
}

.p-25{
  padding: 2.5rem;
}

.br-4{
  border-radius: 4px;
}

.br-8{
  border-radius: 8px;
}

.br-12{
  border-radius:12px
}

.br-32{
  border-radius: 32px;
}

.border{
  border:1px solid red;
}

.border-bottom{
  border-bottom:1px solid #E2E8F0;
}

.cp{
  cursor:pointer;
}

.fade-in{
  animation: fade-in 300ms ease-out forwards;
}

.slide-out{
  animation: slide-out 300ms ease-out forwards;
}

.slide-in{
  animation: slide-in 300ms ease-out forwards;
}

.w-30{
  width:30%
}
.w-35{
  width:50%;
}

.w-60{
  width:60%;
}

.w-70{
  width:70%;
}

.w-80{
  width:80%;
}

.w-90{
  width:90%;
}

.mt-10{
  margin-top: 100px;
}

.mt-20{
  margin-top: 200px;
}

.mt-30{
  margin-top: 300px;
}

.step-indicator{
  border: 1px solid #00ADE6;
  border-radius: 4px;
  padding:8px;
}

.step-indicator span{
  color:#00ADE6;
}

@keyframes slide-out {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-5rem);
  }
}



@keyframes slide-in {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0rem);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loader{
  width:6rem;
  height: 6rem;

  border:0.3rem solid #fff;
  border-top-color: #023E8A;
  border-bottom-color:#023E8A;
  border-radius:50%;
  animation: loader 0.7s linear infinite;
}

@keyframes loader {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}


@media (max-width:768px){
  .space-between{
    flex-wrap:wrap;
  }

}




